profile = conventional
break-separators = before
doc-comments = before-except-val
dock-collection-brackets = false
if-then-else = keyword-first
line-endings = lf
module-item-spacing = sparse
parse-docstrings = true
sequence-blank-line = compact
space-around-lists = false
wrap-comments = true
